$primary-color: #e22219;
$secondary-color: #f3c75e;

$gray-color-1: #e6e7e8;
$gray-color-2: #fafafa;
$gray-color-3: #333f4880;

$dark-1: #323f47;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;

$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
